.grid {
	background-color:#5f5f5f;
	height:40px;
	width:40px;
	padding:5px;
} 

#container {
	height:800px;
	width:800px;
	margin:50px auto;
	background-color:#dcdcdc;
	}

.box {
	height: 40px;
	width: 40px;
	margin: 5px;
	display: inline-block;
	float: left;
	background-color:#cdcdcd;
}
.hovered{
	height: 40px;
	width: 40px;
	margin: 5px;
	display: inline-block;
	float: left;
	background-color:#812732;
}

h2{	text-align:center;}
p {
	text-align:center;
	color:black;
}

.buttons {
	margin: 20px auto;
	width: 600px;
}

.buttons #right {
	float:right;
}

.buttons #left {
	float:left;
}